In [1]:
#importing the libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
datasets=pd.read_csv("Social_Network_Ads.csv")

In [3]:
datasets

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [4]:
datasets=pd.get_dummies(datasets,drop_first=True)

In [5]:
datasets

      User ID  Age  EstimatedSalary  Purchased  Gender_Male
0    15624510   19            19000          0            1
1    15810944   35            20000          0            1
2    15668575   26            43000          0            0
3    15603246   27            57000          0            0
4    15804002   19            76000          0            1
..        ...  ...              ...        ...          ...
395  15691863   46            41000          1            0
396  15706071   51            23000          1            1
397  15654296   50            20000          1            0
398  15755018   36            33000          0            1
399  15594041   49            36000          1            0

[400 rows x 5 columns]

In [6]:
indep=datasets[['Age', 'EstimatedSalary','Gender_Male']]
dep=datasets['Purchased']

In [7]:
indep

     Age  EstimatedSalary  Gender_Male
0     19            19000            1
1     35            20000            1
2     26            43000            0
3     27            57000            0
4     19            76000            1
..   ...              ...          ...
395   46            41000            0
396   51            23000            1
397   50            20000            0
398   36            33000            1
399   49            36000            0

[400 rows x 3 columns]

In [8]:
dep

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64

In [9]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(indep,dep,test_size=0.30,random_state=0)

In [10]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [11]:
from sklearn.tree import DecisionTreeClassifier

In [12]:
from sklearn.model_selection import GridSearchCV

param_grid = {'criterion':['gini','entropy'],
              'max_features': ['auto','sqrt','log2'],
              'splitter':['best','random']} 



grid = GridSearchCV(DecisionTreeClassifier(), param_grid, refit = True, verbose = 3,n_jobs=-1,scoring='f1_weighted') 
   
# fitting the model for grid search 
grid.fit(X_train, y_train)

Fitting 5 folds for each of 12 candidates, totalling 60 fits

GridSearchCV(estimator=DecisionTreeClassifier(), n_jobs=-1,
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             scoring='f1_weighted', verbose=3)

In [13]:
# print best parameter after tuning 
#print(grid.best_params_) 
re=grid.cv_results_
#print(re)
grid_predictions = grid.predict(X_test) 
   

from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, grid_predictions)



# print classification report 
from sklearn.metrics import classification_report
clf_report = classification_report(y_test, grid_predictions)

In [14]:

from sklearn.metrics import f1_score
f1_macro=f1_score(y_test,grid_predictions,average='weighted')
print("The f1_macro value for best parameter {}:".format(grid.best_params_),f1_macro)

The f1_macro value for best parameter {'criterion': 'gini', 'max_features': 'log2', 'splitter': 'random'}: 0.8839743589743588

In [15]:
from sklearn.metrics import accuracy_score
accuracy_score=accuracy_score(y_test,grid_predictions)
print("The accuracy_score value for best parameter {}:".format(grid.best_params_),accuracy_score)

The accuracy_score value for best parameter {'criterion': 'gini', 'max_features': 'log2', 'splitter': 'random'}: 0.8833333333333333

In [16]:
from sklearn.metrics import balanced_accuracy_score
balanced_accuracy_score=balanced_accuracy_score(y_test,grid_predictions)
print("The balanced_accuracy_score for best parameter {}:".format(grid.best_params_),balanced_accuracy_score)

The balanced_accuracy_score for best parameter {'criterion': 'gini', 'max_features': 'log2', 'splitter': 'random'}: 0.8761963569002779

In [17]:
from sklearn.metrics import top_k_accuracy_score
top_k_accuracy_score=top_k_accuracy_score(y_test, grid_predictions, k=2)
print("The top_k_accuracy_score for best parameter {}:".format(grid.best_params_),top_k_accuracy_score)

The top_k_accuracy_score for best parameter {'criterion': 'gini', 'max_features': 'log2', 'splitter': 'random'}: 1.0

C:\Users\rajah\anaconda3\envs\pugazh\lib\site-packages\sklearn\metrics\_ranking.py:1745: UndefinedMetricWarning: 'k' (2) greater than or equal to 'n_classes' (2) will result in a perfect score and is therefore meaningless.
  UndefinedMetricWarning,

In [18]:
from sklearn.metrics import average_precision_score
average_precision_score=average_precision_score(y_test, grid_predictions)
print("The average_precision_score value for best parameter {}:".format(grid.best_params_),average_precision_score)

The average_precision_score value for best parameter {'criterion': 'gini', 'max_features': 'log2', 'splitter': 'random'}: 0.7448383437322745

In [19]:
from sklearn.metrics import brier_score_loss
brier_score_loss=brier_score_loss(y_test, grid_predictions)
print("The brier_score_loss for best parameter {}:".format(grid.best_params_),brier_score_loss)

The brier_score_loss for best parameter {'criterion': 'gini', 'max_features': 'log2', 'splitter': 'random'}: 0.11666666666666667

In [20]:
from sklearn.metrics import log_loss
log_loss=log_loss(y_test,grid_predictions)
print("The log_loss for best parameter {}:".format(grid.best_params_),log_loss)

The log_loss for best parameter {'criterion': 'gini', 'max_features': 'log2', 'splitter': 'random'}: 4.029577219234927

In [21]:
from sklearn.metrics import precision_score
precision_score=precision_score(y_test,grid_predictions,average='weighted')
print("The precision_score for best parameter {}:".format(grid.best_params_),precision_score)

The precision_score for best parameter {'criterion': 'gini', 'max_features': 'log2', 'splitter': 'random'}: 0.8851354072284304

In [22]:
from sklearn.metrics import recall_score
recall_score=recall_score(y_test,grid_predictions)
print("The recall_score for best parameter {}:".format(grid.best_params_),recall_score)

The recall_score for best parameter {'criterion': 'gini', 'max_features': 'log2', 'splitter': 'random'}: 0.8536585365853658

In [23]:
from sklearn.metrics import jaccard_score
jaccard_score=jaccard_score(y_test,grid_predictions,average=None)
print("The jaccard_score for best parameter {}:".format(grid.best_params_),jaccard_score)

The jaccard_score for best parameter {'criterion': 'gini', 'max_features': 'log2', 'splitter': 'random'}: [0.83529412 0.71428571]

In [29]:
from sklearn.metrics import roc_auc_score

roc_auc_score(y_test,grid.predict_proba(X_test)[:,1])

0.8761963569002779

In [24]:
print("The confusion Matrix:\n",cm)

The confusion Matrix:
 [[71  8]
 [ 6 35]]

In [25]:
print("The report:\n",clf_report)

The report:
               precision    recall  f1-score   support

           0       0.92      0.90      0.91        79
           1       0.81      0.85      0.83        41

    accuracy                           0.88       120
   macro avg       0.87      0.88      0.87       120
weighted avg       0.89      0.88      0.88       120

In [27]:
table=pd.DataFrame.from_dict(re)

In [28]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.000000,0.000000,0.003125,0.006250,gini,auto,best,"{'criterion': 'gini', 'max_features': 'auto', ...",0.855314,0.857143,0.766471,0.822861,0.809578,0.822273,0.033416,9
1,0.000000,0.000000,0.006250,0.007654,gini,auto,random,"{'criterion': 'gini', 'max_features': 'auto', ...",0.812540,0.769053,0.733523,0.891667,0.857143,0.812785,0.057245,12
2,0.003126,0.006252,0.000000,0.000000,gini,sqrt,best,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.816207,0.802399,0.769053,0.911105,0.855556,0.830864,0.048773,5
3,0.000000,0.000000,0.003126,0.006251,gini,sqrt,random,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.766471,0.841398,0.804584,0.841045,0.855556,0.821811,0.032409,10
4,0.003125,0.006250,0.003125,0.006250,gini,log2,best,"{'criterion': 'gini', 'max_features': 'log2', ...",0.835985,0.821429,0.730543,0.822861,0.872761,0.816716,0.046900,11
5,0.003125,0.006250,0.003125,0.006251,gini,log2,random,"{'criterion': 'gini', 'max_features': 'log2', ...",0.799537,0.838326,0.859966,0.875548,0.853485,0.845372,0.025845,1
6,0.000000,0.000000,0.003125,0.006250,entropy,auto,best,"{'criterion': 'entropy', 'max_features': 'auto...",0.779449,0.857143,0.806153,0.836407,0.926743,0.841179,0.050272,3
7,0.000000,0.000000,0.003125,0.006251,entropy,auto,random,"{'criterion': 'entropy', 'max_features': 'auto...",0.838326,0.821429,0.750000,0.839990,0.872761,0.824501,0.040792,8
8,0.006250,0.007654,0.003125,0.006250,entropy,sqrt,best,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.835985,0.804584,0.789152,0.841045,0.870721,0.828297,0.028692,7
9,0.000000,0.000000,0.003125,0.006250,entropy,sqrt,random,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.799537,0.802399,0.859966,0.909115,0.776316,0.829466,0.048430,6
10,0.003125,0.006250,0.000000,0.000000,entropy,log2,best,"{'criterion': 'entropy', 'max_features': 'log2...",0.816207,0.838326,0.823129,0.806465,0.870721,0.830970,0.022424,4
11,0.000000,0.000000,0.003125,0.006250,entropy,log2,random,"{'criterion': 'entropy', 'max_features': 'log2...",0.829361,0.838326,0.823129,0.857143,0.872761,0.844144,0.018341,2