In [1]:
#importing the libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
datasets=pd.read_csv("Social_Network_Ads.csv")

In [3]:
datasets

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [4]:
datasets=pd.get_dummies(datasets,drop_first=True)

In [5]:
datasets

      User ID  Age  EstimatedSalary  Purchased  Gender_Male
0    15624510   19            19000          0            1
1    15810944   35            20000          0            1
2    15668575   26            43000          0            0
3    15603246   27            57000          0            0
4    15804002   19            76000          0            1
..        ...  ...              ...        ...          ...
395  15691863   46            41000          1            0
396  15706071   51            23000          1            1
397  15654296   50            20000          1            0
398  15755018   36            33000          0            1
399  15594041   49            36000          1            0

[400 rows x 5 columns]

In [6]:
indep=datasets[['Age', 'EstimatedSalary','Gender_Male']]
dep=datasets['Purchased']

In [7]:
indep

     Age  EstimatedSalary  Gender_Male
0     19            19000            1
1     35            20000            1
2     26            43000            0
3     27            57000            0
4     19            76000            1
..   ...              ...          ...
395   46            41000            0
396   51            23000            1
397   50            20000            0
398   36            33000            1
399   49            36000            0

[400 rows x 3 columns]

In [8]:
dep

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64

In [9]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(indep,dep,test_size=0.30,random_state=0)

In [10]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [11]:
from sklearn.svm import SVC

In [12]:
from sklearn.model_selection import GridSearchCV

param_grid = {'kernel':['linear','rbf','poly','sigmoid'],
             'gamma':['auto','scale'],
             'C':[10,100,1000,2000,3000]} 



grid = GridSearchCV(SVC(), param_grid, refit = True, verbose = 3,n_jobs=-1,scoring='f1_weighted') 
   
# fitting the model for grid search 
grid.fit(X_train, y_train)

Fitting 5 folds for each of 40 candidates, totalling 200 fits

GridSearchCV(estimator=SVC(), n_jobs=-1,
             param_grid={'C': [10, 100, 1000, 2000, 3000],
                         'gamma': ['auto', 'scale'],
                         'kernel': ['linear', 'rbf', 'poly', 'sigmoid']},
             scoring='f1_weighted', verbose=3)

In [13]:
# print best parameter after tuning 
#print(grid.best_params_) 
re=grid.cv_results_
#print(re)
grid_predictions = grid.predict(X_test) 
   

from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, grid_predictions)



# print classification report 
from sklearn.metrics import classification_report
clf_report = classification_report(y_test, grid_predictions)

In [14]:

from sklearn.metrics import f1_score
f1_macro=f1_score(y_test,grid_predictions,average='weighted')
print("The f1_macro value for best parameter {}:".format(grid.best_params_),f1_macro)

The f1_macro value for best parameter {'C': 10, 'gamma': 'auto', 'kernel': 'rbf'}: 0.9171245421245421

In [15]:
from sklearn.metrics import accuracy_score
accuracy_score=accuracy_score(y_test,grid_predictions)
print("The accuracy_score value for best parameter {}:".format(grid.best_params_),accuracy_score)

The accuracy_score value for best parameter {'C': 10, 'gamma': 'auto', 'kernel': 'rbf'}: 0.9166666666666666

In [16]:
from sklearn.metrics import balanced_accuracy_score
balanced_accuracy_score=balanced_accuracy_score(y_test,grid_predictions)
print("The balanced_accuracy_score for best parameter {}:".format(grid.best_params_),balanced_accuracy_score)

The balanced_accuracy_score for best parameter {'C': 10, 'gamma': 'auto', 'kernel': 'rbf'}: 0.9132448286508181

In [17]:
from sklearn.metrics import top_k_accuracy_score
top_k_accuracy_score=top_k_accuracy_score(y_test, grid_predictions, k=2)
print("The top_k_accuracy_score for best parameter {}:".format(grid.best_params_),top_k_accuracy_score)

The top_k_accuracy_score for best parameter {'C': 10, 'gamma': 'auto', 'kernel': 'rbf'}: 1.0

C:\Users\rajah\anaconda3\envs\pugazh\lib\site-packages\sklearn\metrics\_ranking.py:1745: UndefinedMetricWarning: 'k' (2) greater than or equal to 'n_classes' (2) will result in a perfect score and is therefore meaningless.
  UndefinedMetricWarning,

In [18]:
from sklearn.metrics import average_precision_score
average_precision_score=average_precision_score(y_test, grid_predictions)
print("The average_precision_score value for best parameter {}:".format(grid.best_params_),average_precision_score)

The average_precision_score value for best parameter {'C': 10, 'gamma': 'auto', 'kernel': 'rbf'}: 0.8098506333900548

In [19]:
from sklearn.metrics import brier_score_loss
brier_score_loss=brier_score_loss(y_test, grid_predictions)
print("The brier_score_loss for best parameter {}:".format(grid.best_params_),brier_score_loss)

The brier_score_loss for best parameter {'C': 10, 'gamma': 'auto', 'kernel': 'rbf'}: 0.08333333333333333

In [20]:
from sklearn.metrics import log_loss
log_loss=log_loss(y_test,grid_predictions)
print("The log_loss for best parameter {}:".format(grid.best_params_),log_loss)

The log_loss for best parameter {'C': 10, 'gamma': 'auto', 'kernel': 'rbf'}: 2.8782713461140674

In [21]:
from sklearn.metrics import precision_score
precision_score=precision_score(y_test,grid_predictions,average='weighted')
print("The precision_score for best parameter {}:".format(grid.best_params_),precision_score)

The precision_score for best parameter {'C': 10, 'gamma': 'auto', 'kernel': 'rbf'}: 0.9181264471962147

In [22]:
from sklearn.metrics import recall_score
recall_score=recall_score(y_test,grid_predictions)
print("The recall_score for best parameter {}:".format(grid.best_params_),recall_score)

The recall_score for best parameter {'C': 10, 'gamma': 'auto', 'kernel': 'rbf'}: 0.9024390243902439

In [23]:
from sklearn.metrics import jaccard_score
jaccard_score=jaccard_score(y_test,grid_predictions,average=None)
print("The jaccard_score for best parameter {}:".format(grid.best_params_),jaccard_score)

The jaccard_score for best parameter {'C': 10, 'gamma': 'auto', 'kernel': 'rbf'}: [0.87951807 0.78723404]

In [ ]:
print("The confusion Matrix:\n",cm)

In [ ]:
print("The report:\n",clf_report)

In [ ]:
table=pd.DataFrame.from_dict(re)

In [ ]:
table